#contenedor-infocards {
    position: absolute;
    width: 320px;
    left: 310px;
    bottom: 75px;
    color: white;
}
#contenedor-status {
    padding: 10px;
    list-style: none;
    font-weight: 700;
}
.titulos-h4 {
    font-weight: 400;
    margin: 3px;
}
.informacion-estados {
    margin: 5px;
}
.contenedor-listas {
    list-style: none;
    font-weight: 700;
    padding: 2px;
    border: 1px solid rgba(99, 97, 97, 0.24);
}
#contenedor-status {
    border: 1px solid rgba(99, 97, 97, 0.24);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.contenedor-listas:hover {
    background-color: rgb(110, 204, 175);
    color: rgb(52, 77, 103);
}
#contenedor-status:hover {
    background-color: rgb(110, 204, 175);
    color: rgb(52, 77, 103);
}
li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#boton-infocard {
    position: relative;
    background-color: rgb(110, 204, 175);
    color: rgb(52, 77, 103);
    border: none;
    border-radius: 5px;
    left: 270px;
    bottom: 8px;
    width: 50px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 33px;
}

@media (max-width:900px) {
    #contenedor-infocards {
        position: relative;
        width: 320px;
        top: -30px;
        left: -13px;
    }
    #boton-infocard {
        left: 273px;
        bottom: 365px;
    }
}