#contenedor-infocards {
    position: absolute;
    width: 300px;
    left: 320px;
    bottom: 75px;
    color: white;
}
#contenedor-status {
    padding: 10px;
}
h4 {
    font-weight: 400;
    margin: 3px;
}
p {
    margin: 5px;
}
li {
    list-style: none;
    font-weight: 700;
    padding: 2px;
    border: 1px solid rgba(128, 128, 128, 0.24);
}
li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
li:hover {
    background-color: rgb(110, 204, 175);
    color: rgb(21, 41, 65);
}
#boton-infocard {
    left: 250px;
    bottom: 10px;
    width: 50px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
}   