.contenedor-tarjetas {
    margin: 2px;
    width: 320px;
    height: fit-content;
    padding-bottom: 8px;
    background-color: rgb(21, 41, 65);
    border-radius: 10px;
}
.contenedor-tarjetas2 {
    position: relative;
    width: 640px;
    height: 400px;
    background-color: rgb(21, 41, 65);
    border-radius: 10px;
}
.imagen-original, .imagen-abierta {
    position: relative;
    left: 10px;
    top: 8px;
}
.texto-cerrado {
    color: rgb(110, 204, 175);
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}
.texto-abierto {
    color: rgb(110, 204, 175);
    font-weight: 500;
    font-size: 30px;
    margin-top: 25px;
    text-align: center;
}
.boton-visible {
    display: block;
    background-color: rgb(110, 204, 175);
    color: rgb(52, 77, 103);
    font-weight: 500;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
    font-size: 16px;
    position: relative;
    left: 210px;
}
.boton-oculto {
    display: none;
}

@media (max-width:900px) {
    .contenedor-tarjetas2 {
        position: relative;
        width: 320px;
        height: 720px;
        background-color: rgb(21, 41, 65);
        border-radius: 10px;
    }
    .imagen-abierta {
        position: relative;
        top: 48px;
        left: 10px;
    }
    .texto-abierto {
        margin-top: 60px;
    }
}